@charset "utf-8";
/* CSS Document */

body {
	background-color: #66c1ff;
}

/*a:hover {
	background-color: red;
}*/

.slider {
	position: absolute;
	width: 1151px;
	height: 202px;
	top: 176px;
	left: 7px;
}
#wrapper {
	top: 300px;
	display: block;
	height: 800px;
	width: 100%;
}
#wrapper #container {
	top: 80px;
	display: block;
	height: 720px;
	width: 100%;
	background-color: #FFF;
	position: absolute;
	float: left;
	overflow:auto;
}

div.header {
	text-align: center;
	font:"Comic Sans MS", cursive, 20px;
	margin-top:30px;
}

body {
	background-color:#89895c;
}

div.img {
	margin: 30px;
	border:1px solid #666;
	width:180px;
	height:180px;
	float:left;
}

div.img img {
	width:100%;
	height:auto;
}

img {
	width: 200px;
	height: 200px;
}

div.desc {
	text-align:center;
	padding: 20px;
}

/*div.img:hover {
	border:1px solid #000;
}*/
